<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>git-to-do</title>
      <link rel="stylesheet" href="stylesheets/style.css">
      </head>
      <body>
          <div class="main-container">
              <header>
                  <img id="logo" src="./public/pictures/activitylogo">
                  h1 id

      </body>
      
    </head>
    <body>
       <nav>
        <div class="nav-center">
            <h4>git-to-do</h4>
            <ul class="nav-links">
                <li>
                </lil>
            </ul>
        </div>
    </nav>
    
    <script src = "/js/scripts.js"></script>
    </body>
</html>