<div class"container row">
    <div class="jumbotron col-so-4 pull center">
       <h2>Sign</h2>
       <form class='login-form'>
       <div>
           <label>Username</label>
           <input type="text" name="username"/>
       </div>
       <div>
           <label>Password:</label>
           <input type"password" name="password"/>
           </div>
           </div>
           <div>
               <input class"btn btn-primary" type"submit" value"Log In"/>
           </div>
         </form>  
      </div>   
</div>

<scipt src='./public/js/login.js'></scipt>